/* c1 */
#bar-chart-container {
  grid-area: c1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* width: fit-content; */
  /* height: fit-content; */
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar-chart-dropdown-btn {
  padding: 8px 12px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  margin-left: 520px;
}

.bar-chart-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  margin-left: 395px;
}

.bar-chart-dropdown-content label {
  display: block;
  padding: 5px 10px;
  clear: both;
  font-size: 14px;
  white-space: nowrap;
}

.bar-chart-dropdown-content input[type='checkbox'] {
  margin-right: 5px;
  accent-color: #5e3fbe;
}

.bar-chart-dropdown-content label:hover {
  background-color: #f1f1f1;
}

.bar-chart-dropdown:hover .bar-chart-dropdown-content {
  display: block;
}

.bar-chart-dropdown .show {
  display: block;
}
