/* c1 */
#bar-chart-container {
  grid-area: c1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* width: fit-content; */
  /* height: fit-content; */
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar-chart-dropdown-btn {
  margin-right: 25px;
}

.bar-chart-dropdown .bar-chart-dropdown-btn {
  /* margin-right: 100px; */
  background-color: #f9f9f9;
  color: #151414;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 100px;
  /* width: 100%; */
  text-align: left;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.bar-chart-dropdown .bar-chart-dropdown-btn:hover,
.bar-chart-dropdown .bar-chart-dropdown-btn:focus {
  background-color: #e6e6e6;
}

.bar-chart-dropdown .barchart-dropdown-content {
  display: none;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin-top: 2px;
  width: 100px;
  height: 0px;
}

.bar-chart-dropdown.active .barchart-dropdown-content {
  display: block;
}

.bar-chart-dropdown .barchart-dropdown-content label {
  display: block;
  padding: 5px 10px;
  margin: 0;
  white-space: nowrap;
  cursor: pointer;
}

.bar-chart-dropdown .barchart-dropdown-content input[type='checkbox'] {
  margin-right: 5px;
  accent-color: #5e3fbe;
}

.bar-chart-dropdown .barchart-dropdown-content label:hover {
  background-color: #ecebeb;
}
